<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Testers">
    <classes>      
      <class name="PackOne.PageOne"/>
      <class name="PackOne.PageTwo"/>
    </classes>
  </test> <!-- Testers -->
</suite> <!-- Suite -->
